In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [1]:
import pandas as pd
arr = [1,2,3,4,5,6]
i = 100
index = []
for j in arr:               #counter for loop and actcully increment i and appending in list
    i += 1
    index.append(i)

s = pd.Series(arr,index)
s

101    1
102    2
103    3
104    4
105    5
106    6
dtype: int64

In [2]:
name = ['Tom', 'Jack', 'Steve', 'Ricky']
age = [28,34,29,42]

# my new indexes
indexes = ['rank1','rank2','rank3','rank4']

#this is my dictionary
dict1 = {'Name':name,'Age':age}

#passing dictionary to create dataframe
df = pd.DataFrame(dict1, index=indexes)
df

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [3]:
#Ex2) 
name = ['Tom', 'Jack', 'Steve', 'Ricky']
age = [28,34,29,42]

# my new indexes
indexes = []
indval = 0

for i in name:
    indval += 1
    indexes.append(indval)
    
#this is my dictionary
dict1 = {'Name':name,'Age':age}

#passing dictionary to create dataframe
df = pd.DataFrame(dict1, index=indexes)
df

    Name  Age
1    Tom   28
2   Jack   34
3  Steve   29
4  Ricky   42

**************************

In [4]:
import pandas as pd
lis = []
i = 0
for j in range(2,20):
    i += 3
    lis.append(i)
print(lis)
series = pd.Series(lis)
print(series)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54]
0      3
1      6
2      9
3     12
4     15
5     18
6     21
7     24
8     27
9     30
10    33
11    36
12    39
13    42
14    45
15    48
16    51
17    54
dtype: int64

In [5]:
series = pd.Series(lis,index = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18])
series

1      3
2      6
3      9
4     12
5     15
6     18
7     21
8     24
9     27
10    30
11    33
12    36
13    39
14    42
15    45
16    48
17    51
18    54
dtype: int64

In [6]:
dict1 = {'a':0,'b':1,'c':2,'d':3}
s = pd.Series(dict1)
s

a    0
b    1
c    2
d    3
dtype: int64

In [7]:
dict2 = {'w':10,'x':11,'y':12,'z':13}
s = pd.Series(dict2)
s

w    10
x    11
y    12
z    13
dtype: int64

In [8]:
dict3 = {"Dict1":dict1,"dict2":dict2}
dict3
print(type(dict3))

<class 'dict'>

In [9]:
s = pd.Series(dict3)
print(s)
print(type(s))

Dict1        {'a': 0, 'b': 1, 'c': 2, 'd': 3}
dict2    {'w': 10, 'x': 11, 'y': 12, 'z': 13}
dtype: object
<class 'pandas.core.series.Series'>

In [12]:
s[dict3]

Dict1        {'a': 0, 'b': 1, 'c': 2, 'd': 3}
dict2    {'w': 10, 'x': 11, 'y': 12, 'z': 13}
dtype: object

In [13]:
series

1      3
2      6
3      9
4     12
5     15
6     18
7     21
8     24
9     27
10    30
11    33
12    36
13    39
14    42
15    45
16    48
17    51
18    54
dtype: int64

In [14]:
series[18]

54

In [15]:
series[[10,15,18]]

10    30
15    45
18    54
dtype: int64

In [16]:
series.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], dtype='int64')

In [17]:
series.values

array([ 3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51,
       54], dtype=int64)

In [18]:
df = pd.DataFrame(dict3)
df

   Dict1  dict2
a    0.0    NaN
b    1.0    NaN
c    2.0    NaN
d    3.0    NaN
w    NaN   10.0
x    NaN   11.0
y    NaN   12.0
z    NaN   13.0

In [19]:
df.Dict1

a    0.0
b    1.0
c    2.0
d    3.0
w    NaN
x    NaN
y    NaN
z    NaN
Name: Dict1, dtype: float64

In [20]:
df.loc[:,'Dict1']

a    0.0
b    1.0
c    2.0
d    3.0
w    NaN
x    NaN
y    NaN
z    NaN
Name: Dict1, dtype: float64

In [21]:
d1= pd.DataFrame(dict1,dict2)
d1

   a  b  c  d
w  0  1  2  3
x  0  1  2  3
y  0  1  2  3
z  0  1  2  3

In [22]:
dict2

{'w': 10, 'x': 11, 'y': 12, 'z': 13}

In [23]:
d3 = pd.DataFrame(dict3)
d3

   Dict1  dict2
a    0.0    NaN
b    1.0    NaN
c    2.0    NaN
d    3.0    NaN
w    NaN   10.0
x    NaN   11.0
y    NaN   12.0
z    NaN   13.0

In [24]:
d3.shape

(8, 2)

In [25]:
d4 = pd.concat([d1,d3],axis = 0)
d4

     a    b    c    d  Dict1  dict2
w  0.0  1.0  2.0  3.0    NaN    NaN
x  0.0  1.0  2.0  3.0    NaN    NaN
y  0.0  1.0  2.0  3.0    NaN    NaN
z  0.0  1.0  2.0  3.0    NaN    NaN
a  NaN  NaN  NaN  NaN    0.0    NaN
b  NaN  NaN  NaN  NaN    1.0    NaN
c  NaN  NaN  NaN  NaN    2.0    NaN
d  NaN  NaN  NaN  NaN    3.0    NaN
w  NaN  NaN  NaN  NaN    NaN   10.0
x  NaN  NaN  NaN  NaN    NaN   11.0
y  NaN  NaN  NaN  NaN    NaN   12.0
z  NaN  NaN  NaN  NaN    NaN   13.0

In [26]:
d4.shape

(12, 6)

In [27]:
d4.columns

Index(['a', 'b', 'c', 'd', 'Dict1', 'dict2'], dtype='object')

In [28]:
d4.values

array([[ 0.,  1.,  2.,  3., nan, nan],
       [ 0.,  1.,  2.,  3., nan, nan],
       [ 0.,  1.,  2.,  3., nan, nan],
       [ 0.,  1.,  2.,  3., nan, nan],
       [nan, nan, nan, nan,  0., nan],
       [nan, nan, nan, nan,  1., nan],
       [nan, nan, nan, nan,  2., nan],
       [nan, nan, nan, nan,  3., nan],
       [nan, nan, nan, nan, nan, 10.],
       [nan, nan, nan, nan, nan, 11.],
       [nan, nan, nan, nan, nan, 12.],
       [nan, nan, nan, nan, nan, 13.]])

In [29]:
d4.head()

     a    b    c    d  Dict1  dict2
w  0.0  1.0  2.0  3.0    NaN    NaN
x  0.0  1.0  2.0  3.0    NaN    NaN
y  0.0  1.0  2.0  3.0    NaN    NaN
z  0.0  1.0  2.0  3.0    NaN    NaN
a  NaN  NaN  NaN  NaN    0.0    NaN

In [30]:
d4.sort_index()

     a    b    c    d  Dict1  dict2
a  NaN  NaN  NaN  NaN    0.0    NaN
b  NaN  NaN  NaN  NaN    1.0    NaN
c  NaN  NaN  NaN  NaN    2.0    NaN
d  NaN  NaN  NaN  NaN    3.0    NaN
w  0.0  1.0  2.0  3.0    NaN    NaN
w  NaN  NaN  NaN  NaN    NaN   10.0
x  0.0  1.0  2.0  3.0    NaN    NaN
x  NaN  NaN  NaN  NaN    NaN   11.0
y  0.0  1.0  2.0  3.0    NaN    NaN
y  NaN  NaN  NaN  NaN    NaN   12.0
z  0.0  1.0  2.0  3.0    NaN    NaN
z  NaN  NaN  NaN  NaN    NaN   13.0

In [31]:
d4.isnull()

       a      b      c      d  Dict1  dict2
w  False  False  False  False   True   True
x  False  False  False  False   True   True
y  False  False  False  False   True   True
z  False  False  False  False   True   True
a   True   True   True   True  False   True
b   True   True   True   True  False   True
c   True   True   True   True  False   True
d   True   True   True   True  False   True
w   True   True   True   True   True  False
x   True   True   True   True   True  False
y   True   True   True   True   True  False
z   True   True   True   True   True  False

In [32]:
d4.notnull

<bound method DataFrame.notnull of      a    b    c    d  Dict1  dict2
w  0.0  1.0  2.0  3.0    NaN    NaN
x  0.0  1.0  2.0  3.0    NaN    NaN
y  0.0  1.0  2.0  3.0    NaN    NaN
z  0.0  1.0  2.0  3.0    NaN    NaN
a  NaN  NaN  NaN  NaN    0.0    NaN
b  NaN  NaN  NaN  NaN    1.0    NaN
c  NaN  NaN  NaN  NaN    2.0    NaN
d  NaN  NaN  NaN  NaN    3.0    NaN
w  NaN  NaN  NaN  NaN    NaN   10.0
x  NaN  NaN  NaN  NaN    NaN   11.0
y  NaN  NaN  NaN  NaN    NaN   12.0
z  NaN  NaN  NaN  NaN    NaN   13.0>

In [33]:
d5 = d4.dropna()
d5

Empty DataFrame
Columns: [a, b, c, d, Dict1, dict2]
Index: []

In [34]:
d6 = d4.dropna(how = 'all')
d6

     a    b    c    d  Dict1  dict2
w  0.0  1.0  2.0  3.0    NaN    NaN
x  0.0  1.0  2.0  3.0    NaN    NaN
y  0.0  1.0  2.0  3.0    NaN    NaN
z  0.0  1.0  2.0  3.0    NaN    NaN
a  NaN  NaN  NaN  NaN    0.0    NaN
b  NaN  NaN  NaN  NaN    1.0    NaN
c  NaN  NaN  NaN  NaN    2.0    NaN
d  NaN  NaN  NaN  NaN    3.0    NaN
w  NaN  NaN  NaN  NaN    NaN   10.0
x  NaN  NaN  NaN  NaN    NaN   11.0
y  NaN  NaN  NaN  NaN    NaN   12.0
z  NaN  NaN  NaN  NaN    NaN   13.0

In [35]:
d6 = d4.dropna(how='all',axis = 0)
d6

     a    b    c    d  Dict1  dict2
w  0.0  1.0  2.0  3.0    NaN    NaN
x  0.0  1.0  2.0  3.0    NaN    NaN
y  0.0  1.0  2.0  3.0    NaN    NaN
z  0.0  1.0  2.0  3.0    NaN    NaN
a  NaN  NaN  NaN  NaN    0.0    NaN
b  NaN  NaN  NaN  NaN    1.0    NaN
c  NaN  NaN  NaN  NaN    2.0    NaN
d  NaN  NaN  NaN  NaN    3.0    NaN
w  NaN  NaN  NaN  NaN    NaN   10.0
x  NaN  NaN  NaN  NaN    NaN   11.0
y  NaN  NaN  NaN  NaN    NaN   12.0
z  NaN  NaN  NaN  NaN    NaN   13.0

In [36]:
d7 = d4.dropna(thresh = 2)
d7

     a    b    c    d  Dict1  dict2
w  0.0  1.0  2.0  3.0    NaN    NaN
x  0.0  1.0  2.0  3.0    NaN    NaN
y  0.0  1.0  2.0  3.0    NaN    NaN
z  0.0  1.0  2.0  3.0    NaN    NaN

In [37]:
d8 = d7.dropna(how='all',axis = 1)
d8

     a    b    c    d
w  0.0  1.0  2.0  3.0
x  0.0  1.0  2.0  3.0
y  0.0  1.0  2.0  3.0
z  0.0  1.0  2.0  3.0

In [38]:
d9 = d7.fillna(4)
d9

     a    b    c    d  Dict1  dict2
w  0.0  1.0  2.0  3.0    4.0    4.0
x  0.0  1.0  2.0  3.0    4.0    4.0
y  0.0  1.0  2.0  3.0    4.0    4.0
z  0.0  1.0  2.0  3.0    4.0    4.0

In [39]:
d10 = d7.fillna(2.5)

In [40]:
lis = ['a','b','c','d','e']